.footer {
    /* position: absolute; */

    /* width: 100vw; */
    background-color: rgb(14, 1, 27);

}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    /* margin-top: 10px; */
    padding-bottom: 10px;
}

.container>span {
    color: white;
}

.footer-links {
    margin: 10px;
}

.flex-item {
    text-align: center;
    margin: 10px;
    font-size: 15px;
}